* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --face: #f3f4f6;
    --border: #c4c9cf;
    --shadow: rgba(0, 0, 0, 0.2);
    --clockbg: #1e293b;
}

body {
    background: radial-gradient(circle at 20% 20%, #334257 0%, #141b23 70%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 35px;
    color: var(--face);
    font-family: sans-serif;

}

.clock {
    position: relative;
    height: calc(350px - 5vh);
    width: calc(350px - 5vh);
    border: 9px solid var(--border);
    border-radius: 50%;
    display: grid;
    place-content: center;
    background: var(--clockbg);
    box-shadow: inset 0 5px 20px var(--shadow), 0 25px 35px rgba(0, 0, 0, 0.5);
}

.ck_face span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 18px;
    font-weight: bold;

}

.ck_face {
    text-align: center;
}

.ck_face span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
}

.center_dot {
    width: 15px;
    height: 15px;
    background: var(--face);
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.35);
}

.hand {
    width: 5px;
    position: absolute;
    border-radius: 5px;
    left: 50%;
    bottom: 50%;
    transform: translateX(-50%);
    transform-origin: bottom;
}

.center {
    position: relative;
}

.hour {
    background: #ffffff;
    z-index: 2;
    height: 80px;
}

.minute {
    background: #94a3b8;
    z-index: 3;
    height: 100px;
}

.second {
    background: #38bdf8;
    z-index: 5;
    height: 120px;
}

/*----- DIGITAL CLOCK -----*/
.box {
    font-size: 40px; 
    font-family: 'Courier New', Courier, monospace; 
    color: #00fff2; 
    background: #141b23;
    width: 80px; 
    height: 80px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 255, 242, 0.4); 
    border: 1px solid rgba(0, 255, 242, 0.2);
}
.digital {
    display: flex;
    gap: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 15px;
}
